/* General body styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(7, 14, 13);
        color: rgb(245, 243, 243);
}

/* Navbar customization */
.navbar {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

/* Card hover effect */
.card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

/* Footer styling */
/* Footer styling */
footer {
    font-size: 17px;          /* font size */
    letter-spacing: 0.2px;    /* tighter spacing */
    height: 50px;             /* kam height */
    display: flex;            /* flexbox activate */
    justify-content: center;  /* horizontally center */
    align-items: center;      /* vertically center */
}

/* Make footer stick to the bottom */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1; /* pushes footer to the bottom */
}

footer {
    margin-top: auto;
}
