{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}
{% block content %}
<section class="about-me container my-5">
  <div class="row align-items-center">
    
    <!-- Left side: Text -->
    <div class="col-md-8">
      <h2 class="mb-3">About Me</h2>
      <p>Hi, I’m <strong>Shanshad Alam</strong> , a passionate <strong>Data Science student</strong>  with a keen interest in <strong>machine learning, deep learning, and big data analytics .</strong>  
           &nbsp;I love tackling real-world problems using data-driven approaches and turning raw data into actionable insights.<br>

            &nbsp; &nbsp; &nbsp; I’ve developed hands-on skills in <strong>data cleaning, preprocessing, and exploratory data analysis,</strong>  laying a strong foundation for building effective predictive models. I’m eager to collaborate on projects, expand my expertise, and contribute to innovative data solutions.<br>

          &nbsp; &nbsp; &nbsp;Outside of academics, I enjoy exploring new tools, frameworks, and datasets that push my understanding of the data science ecosystem</p>
    </div>
    
    <!-- Right side: Photo -->
    <div class="col-md-4 text-center">
      <img src="{{ url_for('static', filename='images/shanshad1.jpg') }}" 
           alt="Shanshad Alam" class="img-fluid rounded-circle shadow">
    </div>
  </div>
</section>
{% endblock %}
