{% extends "base.html" %}
{% block content %}
<h2>Projects</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Predictive Analytics</h5>
            <p>Built ML models to predict housing prices using regression techniques.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">
            <h5>NLP Chatbot</h5>
            <p>Developed a chatbot using Python and NLP libraries for customer support.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Data Visualization Dashboard</h5>
            <p>Created an interactive dashboard using Tableau and Plotly.</p>
        </div>
    </div>
</div>
{% endblock %}
